<div class="row mt-5">

    <div class="col-md-6 col-lg-6 col-sm-6">
        <input type="text" id="busqueda" class="form-control" placeholder="Nombre de la materia"/>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6">
        <a class="btn btn-success float-right" href="/materia">
            <i class="fa fa-plus"></i> Añadir Materia
        </a>
    </div>

    <div class="col-md-12 col-lg-12 col-sm-12 mt-4">
        <table id="tabla-materias" class="table table-bordered table-striped table-hover"></table>
    </div>
</div>
@section Scripts{
    <script>
    $(()=> {
        loadTablaMaterias();
    });
    $('#busqueda').keyup(function () {
        tablaMaterias.search($(this).val()).draw();
    });
        var tablaMaterias = null;
    ColumnasMaterias = [
        { title: "NOMBRE", "data": "Nombre" },
        { title: "COSTO", "data": "Costo" },
        
        { title: "",
            "data": (data, type, row) => {
                return `<a data-toggle='tooltip' data-placement='top' title='Editar' class='btn btn-outline-info btn-fw' type='button' href='Materia/${data.IdMateria}'><i class='fa fa-edit'></i></a>`;
            }
        }
    ];
        let loadTablaMaterias = ()=> {
            if (tablaMaterias == null) {
                tablaMaterias = $('#tabla-materias').DataTable({
                responsive: false,
                lengthChange: false,
                searching: false,
                ordering: false,
                language: {
                    "paginate": {
                        "previous": "Anterior",
                        "next": "Siguiente"
                    },
                    "info": "",
                    "zeroRecords": "No hay registros que mostrar",
                },
                serverSide: true,
                ajax: {
                    "url": '/Materia/Materias',
                    "type": "POST",
                    "data": function (d) {
                        d.Buscador = $("#busqueda").val();
                    }
                },
                initComplete: function (settings, json) {
                    $(".btnTooltip").attr("data-toggle", "tooltip");
                    $(".btnTooltip").attr("data-placement", "top");
                    $('[data-toggle="tooltip"]').tooltip();
                },
                    columns: ColumnasMaterias,
                "info": false
            });
        }
    }
    </script>
}