@model JMNH_05012024.Models.Materia
@{


}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center mb-5">@(Model.IdMateria == 0 ?"Alta de" : "Editar Datos de") Materia</h1>
                <form id="form-materia">
                    <div class="row">
                        <input type="hidden" class="form-control" name="IdMateria" id="IdMateria" value="@Model.IdMateria">
                        <div class="col-md-4 col-lg-4 col-sm-6">
                            <label class="form-label">Nombre</label>
                            <input type="text" class="form-control" name="nombre" id="nombre" value="@Model.Nombre">
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-6">
                            <label class="form-label">Apellido Paterno</label>
                            <input type="number" class="form-control" name="costo" id="costo" value="@Model.Costo">
                        </div>
                      
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    <button style="float:right;margin-left:3%" class="btn btn-success" onclick="saveOrUpdateMateria()">Guardar</button>
</div>

@section Scripts{
    <script>
        $(() => {

            validarFormMateria();
        });
        let saveOrUpdateMateria = () => {

            if (!$("#form-materia").valid()) {
                return false;
            }
            var form = $("#form-materia")[0];
            var formData = new FormData(form);
            $.ajax({
                type: "POST",
                url: "/Materia/SaveOrUpdateMateria",
                data: formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,   // tell jQuery not to set contentType
                success: function (msg) {
                    if (msg.status == 200) {
                        if (msg.status == 200) {
                            swal({
                                title: "ÉXITO",
                                text: "Proceso terminado con éxito",
                                icon: "success",
                                button: "Aceptar",
                            }).then((value) => {
                                window.location.href = '/Materias'
                            });
                        } else {
                            swal({
                                title: "Error",
                                text: "Ocurrio un error, intentelo nuevamente",
                                icon: "warning",
                                button: "Aceptar",
                            });
                        }
                    } else {
                        swal({
                            title: "Error",
                            text: "Ocurrio un error, intentelo nuevamente",
                            icon: "warning",
                            button: "Aceptar",
                        });
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
        let validarFormMateria = () => {
            jQuery.validator.setDefaults({
                debug: true,
                success: "valid",
                highlight: function (element) {
                    $(element).css('border-color', 'red');
                },

                // Called when the element is valid:
                unhighlight: function (element) {

                    $(element).css('background', '#ffffff');
                    $(element).css('border-color', '#256d18');

                }
            });
            $.validator.addMethod("valueNotEquals", function (value, element, arg) {
                return arg !== value;
            }, "Seleccione una opción.");
            $("#form-materia").validate({

                rules: {
                    nombre: { required: true },
                    costo: { min: 1}
               


                },
                messages: {
                    nombre: { required: 'Campo requerido' },
                    costo: { min: "El precio debe ser mayor a 0" }
                   


                }
            });
        }

    </script>
}